body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    padding: 0 ;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}
.header_content{
    font-weight: 900;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.hero{
    display: flex;


}
.title{
    font-size:48px;
    font-weight: 900;
}
.title,
.content,
.header_content,
a{
    color:#F9FAF8;
}
.text_box{
    width: 600px;
}
.hero, 
.footer,
.header{
    background-color:#1f2937 ;
    padding: 0 200px;
}
.section_two{
    text-align: center;
    padding: 0 200px;
}
.imgbox{
    display: flex;
    justify-content: space-between;
}
img{
    border: 2px solid red;
    width: 100px;
    height: 100px;
    margin: auto;

}
.section_two> div{
    border: 2px solid green;
}