body{
padding: 0gi;
    
}
.hero{
    display: flex;
    padding-bottom: 20px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 10px;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}
    
a{
    text-decoration: none;
    color: #F9FAF8;
}
.header,
.hero,
.footer{
    background-color: #1f2937;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.text_box{
    margin-bottom: 20px;
}
.center{
    justify-content: center;
}
.text{
    color: #ffff;
}
.main_text{
    margin-bottom: 20px;
    font-size: 48px;
    font-weight:800;
    color: #F9FAF8;
}
li,
.secondary_text,
.footer{
color: #e5e7eb;
size: 18px;

}